<a href="https://colab.research.google.com/github/pve/jupyter-collab/blob/master/My_first_Jupyter_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The sensor situation

The idea here is to replicate the "Heating" data analysis.

In [0]:
print('hello world')
import os

hello world

In [0]:
!ls sample_data
!head sample_data/README.md

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md
This directory includes a few sample datasets to get you started.

* `california_housing_data*.csv` is California housing data from the 1990 US
  Census; more information is available at:
  https://developers.google.com/machine-learning/crash-course/california-housing-data-description

* `mnist_*.csv` is a small sample of the [MNIST
  database](https://en.wikipedia.org/wiki/MNIST_database), which is described
  at: http://yann.lecun.com/exdb/mnist/

In [0]:
import pandas as pd
import numpy as np

path = 'sample_data'
houses = pd.read_csv(os.path.join(path, 'california_housing_train.csv'))

In [0]:
len(houses)

17000

In [0]:
houses.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [0]:
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [0]:
houses.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!ls /content/drive
!ls "/content/drive/My Drive/Colab data/"

dataset = pd.read_csv("/content/drive/My Drive/Colab data/sortedoutput.csv", header=None)

# myimport.GetContentFile('sample.csv') # - 'sample.json' is the file name that will be accessible in the notebook

'My Drive'
 02Jul2014.csv	 18jan2014.xlsx     weatherreport11april2015.txt
 04apr2014.csv	 24may2014.csv	   'weatherreport 1 sept 2014.txt'
 11Jul2014.csv	 25may2014.csv	   'weatherreport 8feb2015.txt'
 18aug2014.csv	 outPut.csv
 18jan2014.csv	 sortedoutput.csv

In [0]:
dataset.describe()
dataset.dtypes
dataset.tail(3)

          0                    1        2
85657  Room  2013-12-28 02:52:41  17.7725
85658  Room  2013-12-28 02:53:42  19.2227
85659  Room  2013-12-28 02:54:42  20.2701

In [0]:
dataset.head()

       0                    1        2
0  Board  2013-12-13 00:00:56  14.4692
1  Board  2013-12-13 00:01:56  14.2275
2  Board  2013-12-13 00:02:57  14.2275
3  Board  2013-12-13 00:03:57  14.3886
4  Board  2013-12-13 00:04:58  14.2275

In [0]:
dataset['2']

KeyError: ignored

In [0]:
dataset.groupby(2).max

## A small example of big data and the internet of things.

The data collection system on my home central heating system (link) has been running for more than a year now. The most important event in that period was the installation of double glazing.
With all the collected data, it would be interesting to figure out if that actually made a measurable impact on the heating cost. Did we save money?

Sensors include room temperature and the temperatures of the water as it flows into and out of the radiators (all these by minute). Outside temperature was collected from Yahoo Weather on a daily basis. 
The basic model to apply to the data is simple: the heat transfer coefficient is simply the amount of heat (energy) divided by the difference between inside temperature and the outside temperature. Given a set room temperature, the colder it is outside, the more heat you will need. The better your double glazing, the lower the heat transfer coefficient, and therefore the less energy you need to maintain room temperature.
I pondered for a while on a model that would most elaborately and precisely estimate the heat transfer coefficient. My sampling frequency of once per minute should result in adequate data. However, there is no limit to the amount of complications that arise.

Just to name a few of them.

-	The sensors have noise
-	The sensors have a bias 
-	The system is not always in equilibrium: it can be heating up and cooling down
-	People in the room contribute noticeably to its heating. Depending on their activity levels occupants easily dissipate 200W per person.
-	Sunlight and artificial lighting bring in energy
-	Cooking, wind and ventilation have an effect
-	Curtains can be open and closed
-	For significant stretches of time, wiring failure led to faulty data
-	Our estimates for outside temperature are crude (based on daily samples of meteorological data)
-	The delta between inflow and outflow is only an estimate of the heat transferred from the radiator

So the approach needed to be simplified. Here is what I did so far.
I chose to process the data in R. 
First we do data cleaning. After reading in the sensor data, it is checked for outliers. Readings with negative temperatures, room temperatures above body temperature, weird deltas, and so on are discarded. In fact, if a day has any of these, the entire day’s worth of readings is discarded. (graph # readings per day, # errors per day). (How much data).
Then we compute the average delta per day. This should represent the amount of energy consumed in a full day. 
Next we can correlate this to the outside temperature in the early morning (when it is coldest outside, and the room is warmed up for breakfast). Using the basic model mentioned earlier, we can estimate the heat transfer coefficient. To validate the model, we would like to see that the coefficient is more or less the same around the year. 
Unfortunately, this does not work very well. In the summer the model overestimates the required energy, and thus the heat transfer coefficient. Apparently, the house is a sun trap of sorts and the inhabitants also contribute energy to its heating. As a rough approximation, that energy is enough to maintain a 3 degree temperature differential between inside and outside.
With that in mind we can then estimate the heat transfer coefficients before and after the installation of the double glazing. The results are shown in the next graph. The red circle indicates the installation date of the double glazing. 
 
The graph suggests that the double glazing reduces the heat transfer coefficient by one third.
In a more rigorous treatment we would have a model that includes solar energy input, estimates for the energy that inhabitants dissipate, error terms, and a way to estimate these parameters and the confidence levels for these parameters.
Potentially simpler and more accurate would be to restrict the analysis to the nightly hours. Heating is off, inhabitants are away, and there is no sunlight. With these assumptions we could curve fit the room temperature drops and correlate these to outside temperatures.